body {
  min-width: 1280px;
  cursor: default;
}
.mainPanel {
  padding-left: 258px;
  overflow: hidden;
  background: #ededec;
  min-height: 1208px;
}
.mainPanel .mp-header {
  height: 31px;
  line-height: 31px;
  color: #bdbdbd;
  font-size: 14px;
  background: #fff;
}
.mainPanel .mp-header ul {
  margin-left: 30px;
}
.mainPanel .mp-header li {
  float: left;
  margin-right: 10px;
}
.mainPanel .mp-header li:last-child {
  color: #388bc2;
}
.mainPanel .mp-container {
  width: 891px;
  margin: 0 auto;
}
.mainPanel .mp-container .search-box {
  height: 65px;
  border: 1px solid #d0d2d6;
  margin-top: 21px;
  padding-top: 16px;
  font-size: 12px;
  color: #bdbdbd;
  background-color: #fff;
}
.mainPanel .mp-container select {
  color: #000;
}
.mainPanel .mp-container .box-num {
  float: left;
  margin-left: 30px;
}
.mainPanel .mp-container .box-num span {
  margin-right: 12px;
}
.mainPanel .mp-container .box-num select {
  width: 66px;
  height: 24px;
  border: 1px solid #d0d2d6;
}
.mainPanel .mp-container .box-name {
  float: left;
  width: 160px;
  margin-left: 37px;
  position: relative;
}
.mainPanel .mp-container .box-name span {
  margin-right: 12px;
}
.mainPanel .mp-container .box-name select {
  width: 118px;
  height: 24px;
  border: 1px solid #d0d2d6;
  margin-bottom: 7px;
}
.mainPanel .mp-container .box-name .change {
  position: absolute;
  right: -30px;
  top: 8px;
  cursor: pointer;
}
.mainPanel .mp-container .box-date {
  width: 309px;
  margin-left: 58px;
  float: left;
}
.mainPanel .mp-container .box-date span {
  margin-right: 12px;
}
.mainPanel .mp-container .box-date select {
  height: 24px;
  border: 1px solid #d0d2d6;
  margin-bottom: 7px;
  margin-right: 15px;
}
.mainPanel .mp-container .box-date #data,
.mainPanel .mp-container .box-date #deal {
  width: 118px;
}
.mainPanel .mp-container .box-date #time,
.mainPanel .mp-container .box-date #person {
  width: 66px;
}
.mainPanel .mp-container .box-search {
  margin-left: 30px;
  width: 50px;
  height: 25px;
  background: #398bc2;
  border: none;
  border-radius: 3px;
  color: #fff;
  margin-top: 15px;
}
.mainPanel .mp-container .time-money {
  height: 66px;
  margin-top: 11px;
}
.mainPanel .mp-container .action {
  width: 28px;
  line-height: 64px;
  font-size: 26px;
  color: #bdbdbd;
  background: #fff;
  border: 1px solid #d0d2d6;
  text-align: center;
  float: left;
  margin-right: 5px;
  cursor: pointer;
}
.mainPanel .mp-container .move {
  width: 58px;
  height: 37px;
  border: 1px solid #d0d2d6;
  background: #fff;
  float: left;
  margin-right: 5px;
  padding: 15px 25px 12px 25px;
  text-align: center;
  position: relative;
  cursor: pointer;
}
.mainPanel .mp-container .move span {
  font-size: 12px;
}
.mainPanel .mp-container .move span:nth-child(2) {
  color: #bdbdbd;
}
.mainPanel .mp-container .move span:nth-child(3) {
  font-size: 21px;
  color: #d04b36;
}
.mainPanel .mp-container .move-active {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 2px;
  width: 108px;
  background: #388bc2;
}
.mainPanel .mp-container .history {
  width: 128px;
  height: 64px;
  border: 1px solid #d0d2d6;
  background: #fff;
  float: right;
  cursor: pointer;
}
.mainPanel .mp-container .history img {
  margin-top: 16px;
  float: left;
  margin-left: 20px;
}
.mainPanel .mp-container .history span {
  float: left;
  font-size: 12px;
  margin-top: 23px;
  margin-left: 11px;
}
.mainPanel .mp-container .deal-num-title {
  font-size: 14px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 5px;
}
.mainPanel .mp-container .deal-total:after {
  clear: both;
  content: '';
  display: block;
  visibility: hidden;
}
.mainPanel .mp-container .dt-box {
  width: 200px;
  height: 70px;
  border: 1px solid #d0d2d6;
  float: left;
  display: inline-block;
  margin-right: 27.66666667px;
  position: relative;
  background: #fff;
}
.mainPanel .mp-container .dt-bar {
  position: absolute;
  height: 72px;
  width: 4px;
  top: -1px;
  left: -1px;
}
.mainPanel .mp-container .dt-box:nth-child(1) .dt-bar,
.mainPanel .mp-container .dt-box:nth-child(1) .detail {
  background-color: #43b29e;
}
.mainPanel .mp-container .dt-box:nth-child(2) .dt-bar,
.mainPanel .mp-container .dt-box:nth-child(2) .detail {
  background-color: #388bc2;
}
.mainPanel .mp-container .dt-box:nth-child(3) .dt-bar,
.mainPanel .mp-container .dt-box:nth-child(3) .detail {
  background-color: #d04b36;
}
.mainPanel .mp-container .dt-box:nth-child(4) {
  margin-right: 0;
}
.mainPanel .mp-container .dt-box:nth-child(4) .dt-bar,
.mainPanel .mp-container .dt-box:nth-child(4) .detail {
  background-color: #e2cd46;
}
.mainPanel .mp-container .deal-num {
  font-size: 12px;
  margin-top: 18px;
  margin-left: 12px;
}
.mainPanel .mp-container .deal-num-name {
  font-size: 10px;
  color: #b7b7b7;
  margin-left: 12px;
  margin-top: 10px;
}
.mainPanel .mp-container .detail {
  width: 60px;
  height: 46px;
  position: absolute;
  right: 15px;
  top: 12px;
}
.mainPanel .mp-container .progress-left {
  float: left;
  width: 532px;
  height: 355px;
  border: 1px solid #d0d2d6;
  border-radius: 7px;
  margin-top: 15px;
  overflow: hidden;
  background: #fff;
}
.mainPanel .mp-container .progress-title {
  font-size: 12px;
  color: #b7b7b7;
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
  background-color: #f4f5f6;
  border-bottom: 1px solid #d0d2d6;
}
.mainPanel .mp-container .progress-info {
  width: 490px;
  height: 280px;
  border: 1px solid #d0d2d6;
  border-radius: 5px;
  margin: 12px auto 0;
  border-top: none;
}
.mainPanel .mp-container .progress-nav {
  width: 490px;
  height: 29px;
  margin-left: -1px;
  border-bottom: 1px solid #d0d2d6;
  border-right: 2px solid #fff;
  border-left: 1px solid #fff;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.mainPanel .mp-container .nav-box {
  float: left;
  width: 84px;
  height: 29px;
  background: #ededf0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-right: 5px;
  font-size: 12px;
  text-align: center;
  line-height: 29px;
  cursor: pointer;
}
.mainPanel .mp-container .nav-box-active {
  width: 82px;
  height: 29px;
  border: 1px solid #d0d2d6;
  background: #fff;
  border-bottom: 1px solid #fff;
  margin-left: -1px;
  z-index: 99;
}
.mainPanel .mp-container .progress-table {
  margin: auto;
  margin-top: 29px;
}
.mainPanel .mp-container .progress-table td {
  width: 100px;
  height: 30px;
  border: 1px solid #d0d2d6;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
}
.mainPanel .mp-container .progress-table td:hover {
  background: #f4f6f7;
}
.mainPanel .mp-container .progress-right {
  float: right;
  height: 355px;
  width: 348px;
  border: 1px solid #d0d2d6;
  border-radius: 7px;
  margin-top: 15px;
  overflow: hidden;
  background: #fff;
  font-size: 12px;
}
.mainPanel .mp-container .right-container {
  padding: 16px 35px 0 ;
}
.mainPanel .mp-container .right-container .title {
  color: #c7c6c6;
}
.mainPanel .mp-container .right-container .title-name {
  margin: 2px 0 5px;
}
.mainPanel .mp-container .right-container .input-info {
  width: 50px;
  border: none;
  margin-top: 5px;
}
.mainPanel .mp-container .right-container textarea {
  width: 240px;
  height: 80px;
  margin-top: 3px;
  border: none;
  resize: none;
  padding-left: 0;
}
.mainPanel .mp-container .right-container .input-info-title {
  width: 80px;
  display: block;
  border: none;
  margin: 2px 0 5px;
}
.mainPanel .mp-container .right-container .info {
  float: left;
  width: 81px;
  height: 39px;
  border-top: 1px solid #d0d2d6;
  border-bottom: 1px solid #d0d2d6;
  padding-left: 14px;
  padding-top: 5px;
  margin-bottom: 3px;
}
.mainPanel .mp-container .right-container .info:nth-of-type(2) {
  width: 168px;
  border-left: 1px solid #d0d2d6;
}
.mainPanel .mp-container .right-container .more-info {
  clear: both;
  padding-left: 14px;
  height: 132px;
  border-bottom: 1px solid #d0d2d6;
  margin-bottom: 11px;
}
.mainPanel .mp-container .right-container .secret {
  color: #c7c6c6;
  margin-left: 11px;
}
.mainPanel .mp-container .right-container .box-search-another {
  margin: 0;
  float: right;
  position: relative;
  top: -6px;
}
.mainPanel .mp-container .deal-date {
  float: left;
  width: 350px;
  height: 355px;
  border: 1px solid #d0d2d6;
  border-radius: 7px;
  margin-top: 10px;
  overflow: hidden;
  font-size: 12px;
  background: #fff;
}
.mainPanel .mp-container .deal-rank {
  float: right;
  width: 529px;
  height: 355px;
  border: 1px solid #d0d2d6;
  border-radius: 7px;
  margin-top: 10px;
  overflow: hidden;
}
.mainPanel .mp-container .date-container {
  padding: 0 21px;
}
.mainPanel .mp-container .date-select,
.mainPanel .mp-container .return {
  width: 70px;
  height: 19px;
  border: 1px solid #d0d2d6;
  margin-right: 6px;
  margin-top: 11px;
}
.mainPanel .mp-container .return {
  padding: 0;
  background: #fff;
  margin-right: 0;
}
.mainPanel .mp-container .weekday {
  margin-top: 11px;
  border-top: 1px solid #a9cfec;
  border-bottom: 1px solid #d0d2d6;
  overflow: hidden;
}
.mainPanel .mp-container .weekday li {
  float: left;
  width: 44px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}
.mainPanel .mp-container .day {
  border-collapse: separate;
  border-spacing: 1px 1px;
  margin-top: 0px;
}
.mainPanel .mp-container .day td {
  width: 39px;
  height: 39px;
  padding: 2px 2px;
  border: 1px solid #fff;
  cursor: pointer;
}
.mainPanel .mp-container .day .active {
  border: 1px solid #f9dd80;
}
.mainPanel .mp-container .day div {
  text-align: center;
}
.mainPanel .mp-container .day .red {
  color: #cd3539;
}
.mainPanel .mp-container .deal-rank {
  background: #fff;
}
.mainPanel .mp-container .deal-rank table {
  margin: 16px auto 0;
  font-size: 12px;
}
.mainPanel .mp-container .deal-rank td {
  border: 1px solid #d0d2d6;
  text-align: center;
}
.mainPanel .mp-container .deal-rank .rank {
  width: 67px;
  height: 25px;
}
.mainPanel .mp-container .deal-rank .sign {
  width: 90px;
  height: 25px;
}
.mainPanel .mp-container .deal-rank .hot {
  width: 260px;
  height: 25px;
  text-align: left;
  padding-left: 30px;
}
.mainPanel .mp-container .deal-rank .hot-num {
  width: 167px;
  height: 4px;
  display: inline-block;
  background: #dcdcdc;
  position: relative;
  top: -2px;
  margin-left: 23px;
}
.mainPanel .mp-container .deal-rank .hot-num-active,
.mainPanel .mp-container .deal-rank .hot-num-active2,
.mainPanel .mp-container .deal-rank .hot-num-active3,
.mainPanel .mp-container .deal-rank .hot-num-active4,
.mainPanel .mp-container .deal-rank .hot-num-active5,
.mainPanel .mp-container .deal-rank .hot-num-active6,
.mainPanel .mp-container .deal-rank .hot-num-active7,
.mainPanel .mp-container .deal-rank .hot-num-active8,
.mainPanel .mp-container .deal-rank .hot-num-active9,
.mainPanel .mp-container .deal-rank .hot-num-active10 {
  width: 140px;
  height: 4px;
  display: inline-block;
  background: #ec6d51;
  position: absolute;
  left: 0;
}
.mainPanel .mp-container .deal-rank .hot-num-active2 {
  width: 121px;
  background: #ef8150;
}
.mainPanel .mp-container .deal-rank .hot-num-active3 {
  width: 105px;
  background: #f29f4f;
}
.mainPanel .mp-container .deal-rank .hot-num-active4 {
  width: 95px;
  background: #7fcbf0;
}
.mainPanel .mp-container .deal-rank .hot-num-active5 {
  width: 85px;
  background: #7fcbf0;
}
.mainPanel .mp-container .deal-rank .hot-num-active6 {
  width: 75px;
  background: #7fcbf0;
}
.mainPanel .mp-container .deal-rank .hot-num-active7 {
  width: 65px;
  background: #7fcbf0;
}
.mainPanel .mp-container .deal-rank .hot-num-active8 {
  width: 55px;
  background: #7fcbf0;
}
.mainPanel .mp-container .deal-rank .hot-num-active9 {
  width: 45px;
  background: #7fcbf0;
}
.mainPanel .mp-container .deal-rank .hot-num-active10 {
  width: 35px;
  background: #7fcbf0;
}
