.leftPanel {
  width: 258px;
  height: 100%;
  background: #2a2e3d;
  min-height: 1208px;
  color: #67778b;
  position: absolute;
  overflow: hidden;
}
.leftPanel .info-container {
  width: 170px;
  margin: 0 auto;
}
.leftPanel .lp-ct-info {
  height: 151px;
}
.leftPanel .user-img {
  margin-top: 18px;
  float: left;
}
.leftPanel .user-name {
  font-size: 16px;
  float: left;
  color: #fff;
  margin-top: 38px;
  margin-left: 13px;
}
.leftPanel .user {
  overflow: hidden;
}
.leftPanel .collect,
.leftPanel .lover {
  float: left;
  font-size: 16px;
  width: 30px;
  margin-top: 22px;
}
.leftPanel .collect span + span,
.leftPanel .lover span + span {
  font-size: 12px;
}
.leftPanel .collect {
  padding-right: 30px;
  margin-left: 17px;
  border-right: 1px solid #3b4353;
}
.leftPanel .lover {
  padding-left: 30px;
}
.leftPanel .lp-ct-nav {
  font-size: 12px;
}
.leftPanel .lp-ct-nav img {
  width: 12px;
  height: 12px;
  margin-top: 3px;
  float: left;
}
.leftPanel .lp-ct-nav .icon6-inactive {
  width: 7px;
  margin-left: 2px;
  margin-right: 10px;
}
.leftPanel .lp-ct-nav .icon6-active {
  height: 9px;
}
.leftPanel .lp-ct-nav li {
  width: 170px;
  margin: 0 auto;
  cursor: pointer;
  overflow: hidden;
}
.leftPanel .ct-li-nav-container:first-child {
  background: #383d4e;
}
.leftPanel .ct-li-nav-container:hover {
  background: #383d4e;
}
.leftPanel .high-color {
  color: #fff;
}
.leftPanel .ul-level2 {
  margin-left: 22px;
}
.leftPanel .ul-level3 {
  margin-left: 37px;
}
.leftPanel .li-leve1 {
  padding: 14px 0;
  z-index: 60;
}
.leftPanel .li-level2,
.leftPanel .li-level3 {
  padding: 9px 0;
}
.leftPanel .li-level2-last {
  padding: 0;
}
.leftPanel .img-level1 {
  margin-right: 13px;
}
.leftPanel .img-level2 {
  margin-right: 7px;
}
